<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Reviews</title>
</head>
<body>
    <h1>Restaurant Reviews</h1>
    <ul>
        {% for res_review in restaurants_reviews %}
            <li><a href="{{ url_for('restaurants_reviews', name=res_review.name) }}">
                {{ res_review.name }}</a>
            
            {{res_review.rating}}
            {{res_review.review_text}}
            {{res_review.reviewer}}
          
            </li>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>